graphs/nlpkkt160.bin filter=lfs diff=lfs merge=lfs -text
graphs/rmat23-denser-unbalanced.bin filter=lfs diff=lfs merge=lfs -text
graphs/vanHeukelum-cage14.bin filter=lfs diff=lfs merge=lfs -text
graphs/vanHeukelum-cage15.bin filter=lfs diff=lfs merge=lfs -text
graphs/wikipedia-20070206.bin filter=lfs diff=lfs merge=lfs -text
graphs/asic_320k.bin filter=lfs diff=lfs merge=lfs -text
graphs/grid3d-200.bin filter=lfs diff=lfs merge=lfs -text
graphs/kkt_power.bin filter=lfs diff=lfs merge=lfs -text
*.bin.bz2 filter=lfs diff=lfs merge=lfs -text
